.background{
    background-color: #1b02ff;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 
}
.form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}